#################################
# Google Cloud Provider variables
#################################

project = "YOUR_PROJECT_PROD"

#################################
# SSH access variables
#################################

firewall_ssh_cidr = [
  "8.8.8.8/32",
  "8.8.4.4/32",
]

#################################
# App variables
#################################

app_disk_image      = "YOUR_APP_IMAGE"
app_firewall_name   = "allow-puma-default"
app_firewall_ports  = ["80"]
app_name            = "reddit-app"
app_public_key_path = "~/.ssh/appuser.pub"
app_tags            = ["reddit-app"]
app_username        = "appuser"

#################################
# DB variables
#################################

db_disk_image       = "YOUR_MONGODB_IMAGE"
db_firewall_name    = "allow-mongodb-default"
db_firewall_ports   = ["27017"]
db_name             = "reddit-db"
db_public_key_path  = "~/.ssh/appuser.pub"
db_source_ranges    = []
db_source_tags      = ["reddit-app"]
db_target_tags      = ["reddit-db"]
db_tags             = ["reddit-db"]
db_username         = "appuser"
